<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Jassa - Bootstrap Admin HTML Template</title>

<link rel="shortcut icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/css/ckeditor.css">

<link rel="stylesheet" href="assets/css/select2.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

<!-- Header Section Begin -->
<header class="header header--normal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo1.png" alt="" width="150px" height="60px"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="./listing.html">Listing</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About</a></li>
                                    <li><a href="./listing-details.html">Listing Details</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </nav>
                    <div class="header__menu__right">
                        <a href="#" class="primary-btn"><i class="fa fa-plus"></i>Add Listing</a>
                        <a href="#" class="login-btn"><i class="fa fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->




<br><br><br>
<div class="content container-fluid">
<div class="row">
<div class="col-xl-8 offset-xl-2">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<h3 class="page-title">소모임</h3>
</div>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="bank-inner-details">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="form-group">
<label>제목<span class="text-danger"> *</span></label>
<input type="text" class="form-control" value="가평 번개 파티 구함">
</div>
</div>
<div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>작성자<span class="text-danger"> *</span></label>
    <input type="text" class="form-control" value="user01" style="width: 20%; text-align: center;" >
    </div>
</div>
<!--
<div class="col-lg-12 col-md-12">
    <div class="form-group modal-select-box" style="width: 20%;">
    <label>지역</label>
    <select class="select">
    <option value="1">서울</option>
    <option value="2">경기</option>
    <option value="2">인천</option>
    <option value="2">대전</option>
    <option value="2">대구</option>
    <option value="2">광주</option>
    <option value="2">부산</option>
    <option value="2">제주도</option>
    </select>
    </div>
</div>



<div class="col-lg-12 col-md-12">
<div class="form-group">
<label style="float: left;">파일첨부</label> <br> <br>
<div class="change-photo-btn" style="width: 20%; float: left;">
<div>
<p>Add Image</p></div>
<input type="file" class="upload">
</div>
</div>
</div> <br><br><br><br><br><br><br><br><br>
-->



<div class="col-lg-12 col-md-12">
    <label style="float: left;">내용</label> <br> <br>
<textarea name="" id="" cols="100px" rows="15px" style="resize: none;"></textarea>
</div>
</div>
</div>
</div>
<div class=" blog-categories-btn pt-0">
<div class="bank-details-btn ">
<a href="blog.html" class="btn btn-primary me-2">등록</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/feather.min.js"></script>

<script src="assets/js/ckeditor.js"></script>

<script src="assets/js/select2.min.js"></script>

<script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>