<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="carMapper">

	<resultMap type="Cinfo" id="cinfoResultMap">
		<result column="CINFO_NO" property="cinfoNo"/>	
		<result column="CINFO_NAME" property="cinfoName"/>	
		<result column="CINFO_CONTENT" property="cinfoContent"/>	
		<result column="CINFO_NOTICE" property="cinfoNotice"/>	
		<result column="CINFO_LTTD" property="cinfoLttd"/>	
		<result column="CINFO_HRDNS" property="cinfoHrdns"/>	
		<result column="CINFO_STATUS" property="cinfoStatus"/>	
		<result column="CINFO_ADDRESS" property="cinfoAddress"/>	
		<result column="CINFO_FACILITIES" property="cinfoFacilities"/>	
		<result column="CINFO_DAYS" property="cinfoDays"/>	
		<result column="CINFO_TAG" property="cinfoTag"/>	
		<result column="CINFO_RATING" property="cinfoRating"/>	
		<result column="CINFO_VIEWS" property="cinfoViews"/>	
		<result column="CINFO_MODIFIED" property="cinfoModified"/>	
		<result column="CINFO_RGSTR_DATE" property="cinfoRgstrDate"/>	
		<result column="MEM_NAME" property="memName"/>	
		<result column="MEM_IMG_CHANGE" property="memImg"/>
		<result column="MEM_NO" property="memNo"/>	
		<result column="CINFO_IMG1" property="cinfoImg1"/>	
		<result column="CINFO_IMG2" property="cinfoImg2"/>	
		<result column="CINFO_IMG3" property="cinfoImg3"/>	
		<result column="CINFO_IMG4" property="cinfoImg4"/>	
		<result column="CINFO_IMG5" property="cinfoImg5"/>	
		<result column="CINFO_IMG6" property="cinfoImg6"/>	
		<result column="CINFO_IMG7" property="cinfoImg7"/>	
		<result column="CINFO_IMG8" property="cinfoImg8"/>	
		<result column="CINFO_IMG9" property="cinfoImg9"/>	
		<result column="CINFO_IMG10" property="cinfoImg10"/>
		<result column="PHONE" property="phone"/>
		<result column="MEM_NAME" property="memName"/>
	</resultMap>
	
	<resultMap type="Comment" id="commentResultMap">
		<result column="RE_NO" property="reNo"/>
		<result column="REF_NO" property="refNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_IMG_CHANGE" property="memImg"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COMM_CONTENT" property="commContent"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultMap">
		<result column="REVIEW_NO" property="reviewNo"/>	
		<result column="CINFO_NO" property="cinfoNo"/>	
		<result column="REVIEW_VIEW" property="reviewView"/>	
		<result column="REVIEW_CONV" property="reviewConv"/>	
		<result column="REVIEW_ACCESS" property="reviewAccess"/>	
		<result column="REVIEW_TYPE" property="reviewType"/>	
		<result column="REVIEW_CONTENT" property="reviewContent"/>	
		<result column="REVIEW_IMG" property="reviewImg"/>	
		<result column="REVIEW_LIKE" property="reviewLike"/>	
		<result column="MEM_NO" property="memNo"/>	
		<result column="MEM_NAME" property="memName"/>	
		<result column="MEM_IMG_CHANGE" property="memImg"/>
		<result column="CREATE_DATE" property="createDate"/>	
		<result column="REVIEW_STATUS" property="reviewStatus"/>
		<result column="REVIEW_ALL_VIEW" property="reviewAllView"/>
		<result column="REVIEW_SCR" property="reviewScr"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
	</resultMap>
	
	<resultMap type="Verify" id="verifyResultMap">
		<result column="VERIFY_NO" property="verifyNo"/>	
		<result column="VERIFY_NAME" property="verifyName"/>	
		<result column="VERIFY_CONTENT" property="verifyContent"/>	
		<result column="VERIFY_NOTICE" property="verifyNotice"/>	
		<result column="VERIFY_LTTD" property="verifyLttd"/>	
		<result column="VERIFY_HRDNS" property="verifyHrdns"/>	
		<result column="VERIFY_STATUS" property="verifyStatus"/>	
		<result column="VERIFY_ADDRESS" property="verifyAddress"/>	
		<result column="VERIFY_FACILITIES" property="verifyFacilities"/>	
		<result column="VERIFY_DAYS" property="verifyDays"/>	
		<result column="VERIFY_TAG" property="verifyTag"/>	
		<result column="VERIFY_MODIFIED" property="verifyModified"/>	
		<result column="VERIFY_RGSTR_DATE" property="verifyRgstrDate"/>	
		<result column="VERIFY_REASON" property="verifyReason"/>	
		<result column="MEM_NO" property="memNo"/>	
	</resultMap>
	
	<resultMap type="VerifyImg" id="verifyImgResultMap">
		<result column="VERIFY_NO" property="verifyNo"/>	
		<result column="VERIFY_IMG1" property="verifyImg1"/>	
		<result column="VERIFY_IMG2" property="verifyImg2"/>	
		<result column="VERIFY_IMG3" property="verifyImg3"/>	
		<result column="VERIFY_IMG4" property="verifyImg4"/>	
		<result column="VERIFY_IMG5" property="verifyImg5"/>	
		<result column="VERIFY_IMG6" property="verifyImg6"/>	
		<result column="VERIFY_IMG7" property="verifyImg7"/>	
		<result column="VERIFY_IMG8" property="verifyImg8"/>	
		<result column="VERIFY_IMG9" property="verifyImg9"/>	
		<result column="VERIFY_IMG10" property="verifyImg10"/>	
	</resultMap>	

	<!-- 차박 정보 리스트 -->
	<select id="carList" resultMap="cinfoResultMap">
		SELECT  CINFO_NO
		        ,CINFO_NAME
		        ,CINFO_LTTD
		        ,CINFO_HRDNS
		        ,CINFO_STATUS
		        ,CINFO_ADDRESS
		        ,CINFO_FACILITIES
		        ,CINFO_DAYS
		        ,CINFO_TAG
		        ,CINFO_RATING
		        ,CINFO_VIEWS
		        ,CINFO_MODIFIED
		        ,CINFO_RGSTR_DATE
		        ,(SELECT PHONE FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) PHONE
		        ,CINFO_IMG1
		 FROM CINFO
		 JOIN CINFO_IMG USING(CINFO_NO)
		 WHERE CINFO_STATUS ='Y'
	</select> 
	
	<!-- 차박 필터 후 리스트 -->
	<select id="filterList" resultMap="cinfoResultMap">
		SELECT  CINFO_NO
		        ,CINFO_NAME
		        ,CINFO_LTTD
		        ,CINFO_HRDNS
		        ,CINFO_STATUS
		        ,CINFO_ADDRESS
		        ,CINFO_FACILITIES
		        ,CINFO_DAYS
		        ,CINFO_TAG
		        ,CINFO_RATING
		        ,CINFO_VIEWS
		        ,CINFO_MODIFIED
		        ,CINFO_RGSTR_DATE
		        ,(SELECT PHONE FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) PHONE
		        ,CINFO_IMG1
		 FROM CINFO
		 JOIN CINFO_IMG USING(CINFO_NO)
		 WHERE CINFO_STATUS ='Y'
			
		<if test="title != 'title'">
			AND CINFO_NAME LIKE '%'||#{title}||'%'
		</if>
		
		<if test="location != 'all'">
			AND CINFO_ADDRESS LIKE ''||#{location}||'%'
		</if>
		
		<if test="facility != null">
 		<foreach item='fac' collection="facility" separator=" ">
	 		AND CINFO_FACILITIES LIKE '%'||#{fac}||'%'
	 	</foreach>
		</if>
		
		<choose>
			<when test="sequence == 'rating'">
				ORDER BY CINFO_RATING DESC
			</when>
			<when test="sequence == 'view'">
				ORDER BY CINFO_VIEWS DESC
			</when>
			<when test="sequence == 'rating'">
				ORDER BY CINFO_NAME
			</when>
		</choose>
	</select> 

	<!-- 차박 상세 정보 -->
	<select id="selectDetail" resultMap="cinfoResultMap">
		SELECT  CINFO_NO
				,CINFO_NAME
				,CINFO_CONTENT
				,CINFO_NOTICE
				,CINFO_LTTD
				,CINFO_HRDNS
				,CINFO_STATUS
				,CINFO_ADDRESS
				,CINFO_FACILITIES
				,CINFO_DAYS
				,CINFO_TAG
				,CINFO_RATING
				,CINFO_VIEWS
				,CINFO_MODIFIED
				,CINFO_RGSTR_DATE
		        ,(SELECT PHONE FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) PHONE
		        ,(SELECT MEM_NAME FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) MEM_NAME
				,CINFO_IMG1
				,CINFO_IMG2
				,CINFO_IMG3
				,CINFO_IMG4
				,CINFO_IMG5
				,CINFO_IMG6
				,CINFO_IMG7
				,CINFO_IMG8
				,CINFO_IMG9
				,CINFO_IMG10
		 FROM CINFO
		 JOIN CINFO_IMG USING(CINFO_NO)
		 WHERE CINFO_STATUS ='Y'
		   AND CINFO_NO = #{cinfoNo}
	</select>
	
	<!-- 리뷰 정보 -->
	<select id="selectReview" resultMap="reviewResultMap">
		SELECT    REVIEW_NO
				, CINFO_NO
				, TRUNC((REVIEW_VIEW + REVIEW_CONV + REVIEW_ACCESS + REVIEW_TYPE)/5,1) REVIEW_SCR
				, REVIEW_VIEW
				, REVIEW_CONV
				, REVIEW_ACCESS
				, REVIEW_TYPE
				, REVIEW_CONTENT
				, REVIEW_IMG
				, REVIEW_STATUS
				, (SELECT COUNT(*) FROM REVIEW_LIKE WHERE REVIEW.REVIEW_NO = REVIEW_LIKE.REVIEW_NO) REVIEW_LIKE
				, MEM_NO
				, MEM_NAME
				, MEM_IMG_CHANGE
				, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
		  FROM  REVIEW
		  JOIN  MEMBER USING(MEM_NO)
		 WHERE  CINFO_NO = #{cinfoNo}
		   AND  REVIEW_STATUS = 'Y'
	</select>
	
	<!-- 리뷰 카운터 정보 -->
	<select id="selectReviewCount" resultMap="reviewResultMap">
		SELECT 
		        COUNT(*) COUNT
		        ,TRUNC(AVG(REVIEW_VIEW),1) REVIEW_VIEW
		        ,TRUNC(AVG(REVIEW_CONV),1) REVIEW_CONV
		        ,TRUNC(AVG(REVIEW_ACCESS),1) REVIEW_ACCESS
		        ,TRUNC(AVG(REVIEW_TYPE),1) REVIEW_TYPE
		        ,TRUNC((TRUNC(AVG(REVIEW_VIEW),1) + TRUNC(AVG(REVIEW_CONV),1) + TRUNC(AVG(REVIEW_ACCESS),1) + TRUNC(AVG(REVIEW_TYPE),1))/4,1) REVIEW_ALL_VIEW
	  	  FROM 	REVIEW
		 WHERE  CINFO_NO = 'CAR1'
		 GROUP 
		 	BY  CINFO_NO
	</select>

	<!-- 리뷰 댓글 정보 -->
	<select id="selectReviewComment" resultMap="commentResultMap">
		SELECT 
				  RE_NO
				, REF_NO
				, (SELECT MEM_NAME FROM MEMBER WHERE MEMBER.MEM_NO = REVIEW_COMMENT.MEM_NO) MEM_NO
				, (SELECT MEM_IMG_CHANGE FROM MEMBER WHERE MEMBER.MEM_NO = REVIEW_COMMENT.MEM_NO) MEM_IMG_CHANGE
				, CREATE_DATE
				, COMM_CONTENT
		  FROM REVIEW_COMMENT
		 WHERE REF_NO = #{reviewNo}
		   AND STATUS = 'Y'
		 ORDER 
		    BY CREATE_DATE DESC
	</select>
	
	<!-- 리뷰 좋아요 체크 -->
	<select id="reviewLikeCheck" resultType="_int">
		SELECT COUNT(*) 
		  FROM REVIEW_LIKE 
		 WHERE REVIEW_NO = #{reNo}
		   AND MEM_NO = #{memNo}
	</select>
	
	<!-- 리뷰 좋아요 COUNT - -->
	<update id="reviewNoLike">
		UPDATE REVIEW
		   SET REVIEW_LIKE = REVIEW_LIKE-1
		 WHERE REVIEW_NO = #{reNo}
	</update>
	
	<!-- 리뷰 좋아요 COUNT ++ -->
	<update id="reviewLike">
		UPDATE REVIEW
		   SET REVIEW_LIKE = REVIEW_LIKE+1
		 WHERE REVIEW_NO = #{reNo}
	</update>
	
	<!-- 리뷰 좋아요 삭제 -->
	<delete id="deleteReviewLike">
		DELETE FROM REVIEW_LIKE
		 WHERE REVIEW_NO = #{reNo}
		   AND MEM_NO = #{memNo}
	</delete>
	
	<!-- 리뷰 좋아요 테이블 생성 -->
	<insert id="insertReviewLike">
		INSERT 
		  INTO
				REVIEW_LIKE
		VALUES  (
				  #{reNo}
				, #{memNo}
				)
	</insert>
	
	<!-- 리뷰 코멘트 등록 -->
	<insert id="insertComment">
		INSERT 
		  INTO
				REVIEW_COMMENT
		VALUES  (
				'RVC'||SEQ_RVC_NO.NEXTVAL
				, #{reNo}
				, #{memNo}
				, SYSDATE
				, #{text}
				, 'Y'
				)
		
	</insert>
	
	<!--  리뷰 등록  -->
	<insert id="insertReview">
		INSERT
		  INTO 
		  		REVIEW
		VALUES	(
					  'RVW'||SEQ_RVW_NO.NEXTVAL
					, #{cinfoNo}
					, #{reviewView}
					, #{reviewConv}
					, #{reviewAccess}
					, #{reviewType}
					, #{reviewContent}
					, #{reviewImg}
					, 0
					, 'Y'
					, #{memNo}
					, SYSDATE
				)
	</insert>
	
	<!-- 리뷰 체크 -->
	<select id="reviewCheck" resultType="_int">
		SELECT 
				COUNT(*)
	      FROM  REVIEW
	     WHERE  CINFO_NO = #{cinfoNo}
	       AND  MEM_NO = #{memNo}
	</select>
	
	<!-- 리뷰 삭제 -->
	<update id="deleteReview">
		UPDATE REVIEW
		   SET REVIEW_STATUS = 'N'
		 WHERE REVIEW_NO = #{reNo}
	</update>
	
	<!-- 차박 등록 -->
	<insert id="insertCar">
		INSERT
		  INTO 
		  		VERIFY
		  		(
		  		VERIFY_NO
				,VERIFY_NAME
				,VERIFY_CONTENT
				,VERIFY_NOTICE
				,VERIFY_LTTD
				,VERIFY_HRDNS
				,VERIFY_STATUS
				,VERIFY_ADDRESS
				,VERIFY_FACILITIES
				,VERIFY_DAYS
				,VERIFY_TAG
				,VERIFY_MODIFIED
				,VERIFY_RGSTR_DATE
				,VERIFY_REASON
				,MEM_NO
		  		)
		VALUES	
				(
				  'VER'||SEQ_VER_NO.NEXTVAL
				, #{verifyName}
				, #{verifyContent}
				, #{verifyNotice}
				, #{verifyLttd}
				, #{verifyHrdns}
				, 'T'
				, #{verifyAddress}
				, #{verifyFacilities}
				, #{verifyDays}
				, #{verifyTag}
				, SYSDATE
				, SYSDATE
				, 'null'
				, #{memNo}
				)
	</insert>
	
	<!--  차박 이미지 등록 -->
	<insert id="insertCarImg">
	 	INSERT 
	 	  INTO
	 			VERIFY_IMG
	 			(
	 			VERIFY_NO
				,VERIFY_IMG1
				,VERIFY_IMG2
				,VERIFY_IMG3
				,VERIFY_IMG4
				,VERIFY_IMG5
				,VERIFY_IMG6
				,VERIFY_IMG7
				,VERIFY_IMG8
				,VERIFY_IMG9
				,VERIFY_IMG10
	 			)
	 	VALUES
	 			(
	 			'VER'||(select Last_number-1 VER from user_sequences where sequence_name='SEQ_VER_NO')
	 			, #{verifyImg1}
	 			, #{verifyImg2}
	 			, #{verifyImg3}
	 			, #{verifyImg4}
	 			, #{verifyImg5}
	 			, #{verifyImg6}
	 			, #{verifyImg7}
	 			, #{verifyImg8}
	 			, #{verifyImg9}
	 			, #{verifyImg10}
	 			)
	</insert>

	<insert id="deleteRequest">
	INSERT
		  INTO 
		  		VERIFY
		  		(
		  		VERIFY_NO
				,VERIFY_NAME
				,VERIFY_CONTENT
				,VERIFY_NOTICE
				,VERIFY_LTTD
				,VERIFY_HRDNS
				,VERIFY_STATUS
				,VERIFY_ADDRESS
				,VERIFY_FACILITIES
				,VERIFY_DAYS
				,VERIFY_TAG
				,VERIFY_MODIFIED
				,VERIFY_RGSTR_DATE
				,VERIFY_REASON
				,MEM_NO
		  		)
		VALUES	
				(
				  'VER'||SEQ_VER_NO.NEXTVAL
				, #{cinfo.cinfoName}
				, #{cinfo.cinfoContent}
				, #{cinfo.cinfoNotice}
				, #{cinfo.cinfoLttd}
				, #{cinfo.cinfoHrdns}
				, 'D'
				, #{cinfo.cinfoAddress}
				, #{cinfo.cinfoFacilities}
				, #{cinfo.cinfoDays}
				, #{cinfo.cinfoTag}
				, SYSDATE
				, SYSDATE
				, #{result}
				, #{loginMember}
				)
	
	</insert>
	<insert id="deleteImgRequest">
	 	INSERT 
	 	  INTO
	 			VERIFY_IMG
	 			(
	 			VERIFY_NO
				,VERIFY_IMG1
				,VERIFY_IMG2
				,VERIFY_IMG3
				,VERIFY_IMG4
				,VERIFY_IMG5
				,VERIFY_IMG6
				,VERIFY_IMG7
				,VERIFY_IMG8
				,VERIFY_IMG9
				,VERIFY_IMG10
	 			)
	 	VALUES
	 			(
	 			'VER'||(select Last_number-1 VER from user_sequences where sequence_name='SEQ_VER_NO')
	 			, #{cinfo.cinfoImg1}
	 			, #{cinfo.cinfoImg2}
	 			, #{cinfo.cinfoImg3}
	 			, #{cinfo.cinfoImg4}
	 			, #{cinfo.cinfoImg5}
	 			, #{cinfo.cinfoImg6}
	 			, #{cinfo.cinfoImg7}
	 			, #{cinfo.cinfoImg8}
	 			, #{cinfo.cinfoImg9}
	 			, #{cinfo.cinfoImg10}
	 			)
	</insert>
	
	<!-- 요청 중복 체크 --> 
	<select id="checkRequest" resultType="_int">
		SELECT 
				COUNT(*)
		  FROM  VERIFY
		 WHERE  MEM_NO = #{loginMember}
	</select>
	
	
	
	
	
	
	
	
	
	
	<!-- 소영 : 내가쓴 차박지목록 페이징을 위한 갯수조회-->
	<select id="selectMyCarListCount" resultType="_int">
		SELECT
  	  		   COUNT(*)
  	  	  FROM CINFO
  	     WHERE CINFO_STATUS ='Y'
           AND MEM_NO = (SELECT MEM_NO FROM MEMBER WHERE MEM_ID = #{memId})
	</select>
	
	<!-- 소영 : 내가 작성한 차박지목록 조회  -->
	<select id="selectMyCarList" resultMap="cinfoResultMap">
		SELECT  
				CINFO_NO
		      , CINFO_NAME
		      , CINFO_CONTENT
		      , CINFO_NOTICE
		      , CINFO_LTTD
		      , CINFO_HRDNS
		      , CINFO_STATUS
		      , CINFO_ADDRESS
		      , CINFO_FACILITIES
		      , CINFO_DAYS
		      , CINFO_TAG
		      , CINFO_RATING
		      , CINFO_VIEWS
		      , CINFO_MODIFIED
		      , CINFO_RGSTR_DATE
              , MEM_NO
              , CINFO_IMG1
		   FROM CINFO
		   JOIN CINFO_IMG USING(CINFO_NO)
		  WHERE CINFO_STATUS ='Y'
            AND MEM_NO = (SELECT MEM_NO FROM MEMBER WHERE MEM_ID = #{memId})
		  ORDER BY 
		  		CINFO_NO DESC
	</select>
	
	<!-- 소영 : 내 차박지 글 삭제  -->
	<update id="deleteMyCinfo">
		UPDATE 
				CINFO
			SET CINFO_STATUS = 'N'
		  WHERE CINFO_NO = #{cinfoNo}
	</update>
	
	
	<!-- 소영 : 내가 좋아요한 차박지 목록 조회  -->
	<select id="selectMyLikeList" resultMap="cinfoResultMap">
		SELECT  
				C.CINFO_NO
		      , C.CINFO_NAME
		      , C.CINFO_CONTENT
		      , C.CINFO_NOTICE
		      , C.CINFO_LTTD
		      , C.CINFO_HRDNS
		      , C.CINFO_STATUS
		      , C.CINFO_ADDRESS
		      , C.CINFO_FACILITIES
		      , C.CINFO_DAYS
		      , C.CINFO_TAG
		      , C.CINFO_RATING
		      , C.CINFO_VIEWS
		      , C.CINFO_MODIFIED
		      , C.CINFO_RGSTR_DATE
              , C.MEM_NO
              , G.CINFO_IMG1
		   FROM CINFO C
		   JOIN CINFO_IMG G ON C.CINFO_NO = G.CINFO_NO
          INNER JOIN TB_LIKE L ON C.CINFO_NO = L.CINFO_NO
		  WHERE CINFO_STATUS ='Y'
            AND L.MEM_NO = (SELECT MEM_NO FROM MEMBER WHERE MEM_ID = #{memId})
            AND LIKE_STATUS = 'Y'
	</select>
	
	
	
</mapper>
