<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="carMapper">

	<resultMap type="Cinfo" id="cinfoResultMap">
		<result column="CINFO_NO" property="cinfoNo"/>	
		<result column="CINFO_NAME" property="cinfoName"/>	
		<result column="CINFO_CONTENT" property="cinfoContent"/>	
		<result column="CINFO_NOTICE" property="cinfoNotice"/>	
		<result column="CINFO_LTTD" property="cinfoLttd"/>	
		<result column="CINFO_HRDNS" property="cinfoHrdns"/>	
		<result column="CINFO_STATUS" property="cinfoStatus"/>	
		<result column="CINFO_ADDRESS" property="cinfoAddress"/>	
		<result column="CINFO_FACILITIES" property="cinfoFacilities"/>	
		<result column="CINFO_DAYS" property="cinfoDays"/>	
		<result column="CINFO_TAG" property="cinfoTag"/>	
		<result column="CINFO_RATING" property="cinfoRating"/>	
		<result column="CINFO_VIEWS" property="cinfoViews"/>	
		<result column="CINFO_MODIFIED" property="cinfoModified"/>	
		<result column="CINFO_RGSTR_DATE" property="cinfoRgstrDate"/>	
		<result column="MEM_NAME" property="memName"/>	
		<result column="MEM_IMG_CHANGE" property="memImg"/>
		<result column="MEM_NO" property="memNo"/>	
		<result column="CINFO_IMG1" property="cinfoImg1"/>	
		<result column="CINFO_IMG2" property="cinfoImg2"/>	
		<result column="CINFO_IMG3" property="cinfoImg3"/>	
		<result column="CINFO_IMG4" property="cinfoImg4"/>	
		<result column="CINFO_IMG5" property="cinfoImg5"/>	
		<result column="CINFO_IMG6" property="cinfoImg6"/>	
		<result column="CINFO_IMG7" property="cinfoImg7"/>	
		<result column="CINFO_IMG8" property="cinfoImg8"/>	
		<result column="CINFO_IMG9" property="cinfoImg9"/>	
		<result column="CINFO_IMG10" property="cinfoImg10"/>
		<result column="PHONE" property="phone"/>
		<result column="MEM_NAME" property="memName"/>
	</resultMap>
	
	<resultMap type="Comment" id="commentResultMap">
		<result column="RE_NO" property="reNo"/>
		<result column="REF_NO" property="refNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_IMG_CHANGE" property="memImg"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COMM_CONTENT" property="commContent"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultMap">
		<result column="REVIEW_NO" property="reviewNo"/>	
		<result column="CINFO_NO" property="cinfoNo"/>	
		<result column="REVIEW_VIEW" property="reviewView"/>	
		<result column="REVIEW_CONV" property="reviewConv"/>	
		<result column="REVIEW_ACCESS" property="reviewAccess"/>	
		<result column="REVIEW_TYPE" property="reviewType"/>	
		<result column="REVIEW_CONTENT" property="reviewContent"/>	
		<result column="REVIEW_IMG" property="reviewImg"/>	
		<result column="REVIEW_LIKE" property="reviewLike"/>	
		<result column="MEM_NO" property="memNo"/>	
		<result column="MEM_NAME" property="memName"/>	
		<result column="MEM_IMG_CHANGE" property="memImg"/>
		<result column="CREATE_DATE" property="createDate"/>	
		<result column="REVIEW_STATUS" property="reviewStatus"/>
		<result column="REVIEW_ALL_VIEW" property="reviewAllView"/>
		<result column="REVIEW_SCR" property="reviewScr"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
	</resultMap>
	
	<resultMap type="Verify" id="verifyResultMap">
		<result column="VERIFY_NO" property="verifyNo"/>	
		<result column="VERIFY_NAME" property="verifyName"/>	
		<result column="VERIFY_CONTENT" property="verifyText"/>	
		<result column="VERIFY_NOTICE" property="verifyContent"/>	
		<result column="VERIFY_LTTD" property="verifyNotice"/>	
		<result column="VERIFY_HRDNS" property="verifyLttd"/>	
		<result column="VERIFY_STATUS" property="verifyHrdns"/>	
		<result column="VERIFY_ADDRESS" property="verifyStatus"/>	
		<result column="VERIFY_FACILITIES" property="verifyAddress"/>	
		<result column="VERIFY_DAYS" property="verifyFacilities"/>	
		<result column="VERIFY_TAG" property="verifyDays"/>	
		<result column="VERIFY_MODIFIED" property="verifyTag"/>	
		<result column="VERIFY_RGSTR_DATE" property="verifyDate"/>	
		<result column="VERIFY_REASON" property="verifyReason"/>	
		<result column="MEM_NO" property="memNo"/>	
	</resultMap>
	
	<resultMap type="VerifyImg" id="verifyImgResultMap">
		<result column="VERIFY_NO" property="verifyNo"/>	
		<result column="VERIFY_IMG1" property="verifyImg1"/>	
		<result column="VERIFY_IMG2" property="verifyImg2"/>	
		<result column="VERIFY_IMG3" property="verifyImg3"/>	
		<result column="VERIFY_IMG4" property="verifyImg4"/>	
		<result column="VERIFY_IMG5" property="verifyImg5"/>	
		<result column="VERIFY_IMG6" property="verifyImg6"/>	
		<result column="VERIFY_IMG7" property="verifyImg7"/>	
		<result column="VERIFY_IMG8" property="verifyImg8"/>	
		<result column="VERIFY_IMG9" property="verifyImg9"/>	
		<result column="VERIFY_IMG10" property="verifyImg10"/>	
	</resultMap>	

	<select id="carList" resultMap="cinfoResultMap">
		SELECT  CINFO_NO
		        ,CINFO_NAME
		        ,CINFO_LTTD
		        ,CINFO_HRDNS
		        ,CINFO_STATUS
		        ,CINFO_ADDRESS
		        ,CINFO_FACILITIES
		        ,CINFO_DAYS
		        ,CINFO_TAG
		        ,CINFO_RATING
		        ,CINFO_VIEWS
		        ,CINFO_MODIFIED
		        ,CINFO_RGSTR_DATE
		        ,(SELECT PHONE FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) PHONE
		        ,CINFO_IMG1
		 FROM CINFO
		 JOIN CINFO_IMG USING(CINFO_NO)
		 WHERE CINFO_STATUS ='Y'
	</select> 
	
	<select id="filterList" resultMap="cinfoResultMap">
		SELECT  CINFO_NO
		        ,CINFO_NAME
		        ,CINFO_LTTD
		        ,CINFO_HRDNS
		        ,CINFO_STATUS
		        ,CINFO_ADDRESS
		        ,CINFO_FACILITIES
		        ,CINFO_DAYS
		        ,CINFO_TAG
		        ,CINFO_RATING
		        ,CINFO_VIEWS
		        ,CINFO_MODIFIED
		        ,CINFO_RGSTR_DATE
		        ,(SELECT PHONE FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) PHONE
		        ,CINFO_IMG1
		 FROM CINFO
		 JOIN CINFO_IMG USING(CINFO_NO)
		 WHERE CINFO_STATUS ='Y'
			
		<if test="title != 'title'">
			AND CINFO_NAME LIKE '%'||#{title}||'%'
		</if>
		
		<if test="location != 'all'">
			AND CINFO_ADDRESS LIKE ''||#{location}||'%'
		</if>
		
		<if test="facility != null">
 		<foreach item='fac' collection="facility" separator=" ">
	 		AND CINFO_FACILITIES LIKE '%'||#{fac}||'%'
	 	</foreach>
		</if>
		
		<choose>
			<when test="sequence == 'rating'">
				ORDER BY CINFO_RATING DESC
			</when>
			<when test="sequence == 'view'">
				ORDER BY CINFO_VIEWS DESC
			</when>
			<when test="sequence == 'rating'">
				ORDER BY CINFO_NAME
			</when>
		</choose>
		
	</select> 

	<select id="selectDetail" resultMap="cinfoResultMap">
		SELECT  CINFO_NO
				,CINFO_NAME
				,CINFO_CONTENT
				,CINFO_NOTICE
				,CINFO_LTTD
				,CINFO_HRDNS
				,CINFO_STATUS
				,CINFO_ADDRESS
				,CINFO_FACILITIES
				,CINFO_DAYS
				,CINFO_TAG
				,CINFO_RATING
				,CINFO_VIEWS
				,CINFO_MODIFIED
				,CINFO_RGSTR_DATE
		        ,(SELECT PHONE FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) PHONE
		        ,(SELECT MEM_NAME FROM MEMBER WHERE CINFO.MEM_NO = MEMBER.MEM_NO) MEM_NAME
				,CINFO_IMG1
				,CINFO_IMG2
				,CINFO_IMG3
				,CINFO_IMG4
				,CINFO_IMG5
				,CINFO_IMG6
				,CINFO_IMG7
				,CINFO_IMG8
				,CINFO_IMG9
				,CINFO_IMG10
		 FROM CINFO
		 JOIN CINFO_IMG USING(CINFO_NO)
		 WHERE CINFO_STATUS ='Y'
		   AND CINFO_NO = #{cinfoNo}
	</select>

	<select id="selectReview" resultMap="reviewResultMap">
		SELECT    REVIEW_NO
				, CINFO_NO
				, TRUNC((REVIEW_VIEW + REVIEW_CONV + REVIEW_ACCESS + REVIEW_TYPE)/5,1) REVIEW_SCR
				, REVIEW_VIEW
				, REVIEW_CONV
				, REVIEW_ACCESS
				, REVIEW_TYPE
				, REVIEW_CONTENT
				, REVIEW_IMG
				, REVIEW_STATUS
				, (SELECT COUNT(*) FROM REVIEW_LIKE WHERE REVIEW.REVIEW_NO = REVIEW_LIKE.REVIEW_NO) REVIEW_LIKE
				, MEM_NO
				, MEM_NAME
				, MEM_IMG_CHANGE
				, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
		  FROM  REVIEW
		  JOIN  MEMBER USING(MEM_NO)
		 WHERE  CINFO_NO = #{cinfoNo}
		   AND  REVIEW_STATUS = 'Y'
	</select>
	
	<select id="selectReviewCount" resultMap="reviewResultMap">
		SELECT 
		        COUNT(*) COUNT
		        ,TRUNC(AVG(REVIEW_VIEW),1) REVIEW_VIEW
		        ,TRUNC(AVG(REVIEW_CONV),1) REVIEW_CONV
		        ,TRUNC(AVG(REVIEW_ACCESS),1) REVIEW_ACCESS
		        ,TRUNC(AVG(REVIEW_TYPE),1) REVIEW_TYPE
		        ,TRUNC((TRUNC(AVG(REVIEW_VIEW),1) + TRUNC(AVG(REVIEW_CONV),1) + TRUNC(AVG(REVIEW_ACCESS),1) + TRUNC(AVG(REVIEW_TYPE),1))/4,1) REVIEW_ALL_VIEW
	  	  FROM 	REVIEW
		 WHERE  CINFO_NO = 'CAR1'
		 GROUP 
		 	BY  CINFO_NO
	</select>

	<select id="selectReviewComment" resultMap="commentResultMap">
		SELECT 
				  RE_NO
				, REF_NO
				, (SELECT MEM_NAME FROM MEMBER WHERE MEMBER.MEM_NO = REVIEW_COMMENT.MEM_NO) MEM_NO
				, (SELECT MEM_IMG_CHANGE FROM MEMBER WHERE MEMBER.MEM_NO = REVIEW_COMMENT.MEM_NO) MEM_IMG_CHANGE
				, CREATE_DATE
				, COMM_CONTENT
		  FROM REVIEW_COMMENT
		 WHERE REF_NO = #{reviewNo}
		   AND STATUS = 'Y'
		 ORDER 
		    BY CREATE_DATE DESC
	</select>
	
	<select id="reviewLikeCheck" resultType="_int">
		SELECT COUNT(*) 
		  FROM REVIEW_LIKE 
		 WHERE REVIEW_NO = #{reNo}
		   AND MEM_NO = #{memNo}
	</select>
	
	<update id="reviewNoLike">
		UPDATE REVIEW
		   SET REVIEW_LIKE = REVIEW_LIKE-1
		 WHERE REVIEW_NO = #{reNo}
	</update>
	
	<update id="reviewLike">
		UPDATE REVIEW
		   SET REVIEW_LIKE = REVIEW_LIKE+1
		 WHERE REVIEW_NO = #{reNo}
	</update>
	
	<delete id="deleteReviewLike">
		DELETE FROM REVIEW_LIKE
		 WHERE REVIEW_NO = #{reNo}
		   AND MEM_NO = #{memNo}
	</delete>
	
	<insert id="insertReviewLike">
		INSERT 
		  INTO
				REVIEW_LIKE
		VALUES  (
				  #{reNo}
				, #{memNo}
				)
	</insert>
	
	<insert id="insertComment">
		INSERT 
		  INTO
				REVIEW_COMMENT
		VALUES  (
				'RVC'||SEQ_RVC_NO.NEXTVAL
				, #{reNo}
				, #{memNo}
				, SYSDATE
				, #{text}
				, 'Y'
				)
		
	</insert>
	
	<insert id="insertReview">
		INSERT
		  INTO 
		  		REVIEW
		VALUES	(
					  'RVW'||SEQ_RVW_NO.NEXTVAL
					, #{cinfoNo}
					, #{reviewView}
					, #{reviewConv}
					, #{reviewAccess}
					, #{reviewType}
					, #{reviewContent}
					, #{reviewImg}
					, 0
					, 'Y'
					, #{memNo}
					, SYSDATE
				)
	</insert>
	
	<select id="reviewCheck" resultType="_int">
		SELECT 
				COUNT(*)
	      FROM  REVIEW
	     WHERE  CINFO_NO = #{cinfoNo}
	       AND  MEM_NO = #{memNo}
	</select>
</mapper>
