<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="EMAIL" property="email"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
		<result column="MEM_IMG" property="memImg"/>
		<result column="PHONE" property="phone"/>
		<result column="MEM_API_TYPE" property="memAplType"/>
		<result column="MEM_API_TOKEN" property="memApiToken"/>
	</resultMap>

	<resultMap id="memberReportResultSet" type="MemberReport">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="REPORTED_MEM_NO" property="reportedMemNo"/>
		<result column="REPORER_MEM_NO" property="reportMemNo"/>
		<result column="REPORT_COUNT" property="reportCount"/>
		<result column="SUSPEND_COUNT" property="suspendCount"/>
	</resultMap>

	<resultMap id="questionResultSet" type="Question">
		<result column="QUE_NO" property="queNo"/>
		<result column="QUE_CATEGORY" property="queCategory"/>
		<result column="QUE_TITLE" property="queTitle"/>
		<result column="QUE_CONTENT" property="queContent"/>
		<result column="QUE_DATE" property="queDate"/>
		<result column="QUE_STATUS" property="queStatus"/>
		<result column="QUE_ANSWER" property="queAnswer"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
	</resultMap>
	
	<resultMap id="reportResultSet" type="Report">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="REPORT_REFNO" property="reportRefNo"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="REPORT_DETAIL" property="reportDetail"/>
	</resultMap>
	
	<resultMap id="chatResultSet" type="Chat">
		<result column="CHAT_NO" property="chatNo"/>
		<result column="CHAT_COMMENT" property="chatComment"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="CHAT_CREATE_DATE" property="chatCreateDate"/>
	</resultMap>
	
	<resultMap id="likeResultSet" type="Like">
		<result column="MEM_NO" property="memNo"/>
		<result column="CINFO_NO" property="cinfoNo"/>
		<result column="LIKE_STATUS" property="likeStatus"/>
	</resultMap>
	
	<select id="emailCheck" resultType="_int"> 
	select
		   count(*)
	  from
	       member
     where email = #{email}
	</select>
	
	<select id="idCheck" resultType="_int"> 
	select
		   count(*)
	  from
	       member
     where mem_id = #{checkId}
	</select>
	
	<select id="nicknameCheck" resultType="_int"> 
	select
		   count(*)
	  from
	       member
     where nickname = #{nickname}
	</select>
	
	<insert id="insertMember" >
		insert
		  into member
		     (
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , ENROLL_DATE
		     , STATUS
		     , MEM_IMG
		     , PHONE
		     , MEM_API_TYPE
		     , MEM_API_TOKEN
		     , MARKETING
		     )
	    values
	         (
	           'MEM' || TO_CHAR(SEQ_MEM_NO.NEXTVAL)
	         , #{memId}
	         , #{memPwd}
	         , #{memName}
	         , #{nickName}
	         , #{email}
	         , DEFAULT
	         , DEFAULT
	         , #{memImg}
	         , #{phone}
	         , #{memApiType}
	         , #{memApiToken}
	         , #{marketing}
	         )
	</insert>


	<select  id="selectMemberList" resultMap="memberResultSet">
	SELECT
	         MEM_NO
	        ,MEM_ID
	        ,MEM_PWD
	        ,MEM_NAME
	        ,NICKNAME
	        ,EMAIL
	        ,ENROLL_DATE
	        ,STATUS
	        ,MEM_IMG
	        ,PHONE
	        ,MEM_API_TYPE
	        ,MEM_API_TOKEN
	        ,MARKETING
	 FROM MEMBER
	WHERE MEM_ID != 'ADMIN'
	</select>
	
	<select id="loginMember" resultMap="memberResultSet">
	    SELECT
	          MEM_NO
	        , MEM_ID
	        , MEM_PWD
	        , MEM_NAME
	        , NICKNAME
	        , EMAIL
	        , ENROLL_DATE
	        , STATUS
	        , MEM_IMG
	        , PHONE
	        , MEM_API_TYPE
	        , MEM_API_TOKEN
	        , MARKETING
		 FROM MEMBER
		WHERE MEM_ID = #{memId}
		  AND STATUS = 'Y'
	</select>







	<!-- 소영시작 -->
	<select id="userCheck" resultMap="memberResultSet">
		SELECT
	         MEM_NO
	        ,MEM_ID
	        ,MEM_PWD
	        ,MEM_NAME
	        ,NICKNAME
	        ,EMAIL
	        ,ENROLL_DATE
	        ,STATUS
	        ,MEM_IMG
	        ,PHONE
	        ,MEM_API_TYPE
	        ,MEM_API_TOKEN
	 FROM MEMBER
	WHERE MEM_ID = #{memID}
	</select>
	
	<select id="temploginMember" resultMap="memberResultSet">
	select * from member where mem_id = #{memId} and mem_pwd=#{memPwd}
	</select>
	
	<update id="nickNameUpdate">
		update
			   member
		   set nickname = #{nickName}
		 where mem_id = #{memId}
	</update>
	
	<update id="passwordUpdate">
		update
			    member
		    set mem_pwd = #{memPwd}
		  where mem_id = #{memId}
	</update>
	
	<select id="questionSelectList" resultMap="questionResultSet">
		SELECT  
				QUE_NO
			  , QUE_CATEGORY
			  ,	QUE_TITLE
			  ,	QUE_CONTENT
			  ,	QUE_DATE
			  ,	QUE_STATUS
			  ,	QUE_ANSWER
			  ,	MEM_ID
		   FROM QUESTION
		   JOIN MEMBER 
		  USING (MEM_NO)
		  WHERE MEM_ID = #{memId}
	</select>

	<select id="selectQuestion" resultMap="questionResultSet">
		SELECT  
				QUE_NO
			  , QUE_CATEGORY
			  ,	QUE_TITLE
			  ,	QUE_CONTENT
			  ,	QUE_DATE
			  ,	QUE_STATUS
			  ,	QUE_ANSWER
			  ,	MEM_ID
		   FROM QUESTION
		   JOIN MEMBER 
		  USING (MEM_NO)
		  WHERE QUE_NO = #{queNo}
	</select>


	<insert id="insertQuestion">
		INSERT 
    	  INTO QUESTION 
          ( QUE_NO
          , QUE_CATEGORY
          , QUE_TITLE
          , QUE_CONTENT
          , MEM_NO
          )
      	  VALUES 
          (
            'QUE'||SEQ_QUE_NO.NEXTVAL
          , #{queCategory}
          , #{queTitle}
          , #{queContent}
          ,(SELECT MEM_NO 
               FROM MEMBER 
              WHERE MEM_ID = #{memId}))
	</insert>
	
	<update id="updateQuestion">
        update
               QUESTION
           SET QUE_CATEGORY = #{queCategory}
	   		 , QUE_TITLE = #{queTitle}
			 , QUE_CONTENT = #{queContent}
			 , QUE_DATE = SYSDATE
         WHERE QUE_NO = #{queNo}
	</update>




</mapper>
