<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="EMAIL" property="email"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
		<result column="MEM_IMG_ORIGIN" property="memImgOrigin"/>
		<result column="MEM_IMG_CHANGE" property="memImgChange"/>
		<result column="PHONE" property="phone"/>
		<result column="MEM_API_TYPE" property="memAplType"/>
		<result column="MEM_API_TOKEN" property="memApiToken"/>
		<result column="MARKETING" property="marketing"/>
		
	</resultMap>

	<resultMap id="memberReportResultSet" type="MemberReport">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="REPORTED_MEM_NO" property="reportedMemNo"/>
		<result column="REPORER_MEM_NO" property="reportMemNo"/>
		<result column="REPORT_COUNT" property="reportCount"/>
		<result column="SUSPEND_COUNT" property="suspendCount"/>
	</resultMap>

	<resultMap id="questionResultSet" type="Question">
		<result column="QUE_NO" property="queNo"/>
		<result column="QUE_CATEGORY" property="queCategory"/>
		<result column="QUE_TITLE" property="queTitle"/>
		<result column="QUE_CONTENT" property="queContent"/>
		<result column="QUE_DATE" property="queDate"/>
		<result column="QUE_STATUS" property="queStatus"/>
		<result column="QUE_ANSWER" property="queAnswer"/>
		<result column="MEM_NO" property="memNo"/>
	</resultMap>
	
	<resultMap id="reportResultSet" type="Report">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="REPORT_REFNO" property="reportRefNo"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="REPORT_DETAIL" property="reportDetail"/>
	</resultMap>
	
	<resultMap id="chatResultSet" type="Chat">
		<result column="CHAT_NO" property="chatNo"/>
		<result column="CHAT_COMMENT" property="chatComment"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="CHAT_CREATE_DATE" property="chatCreateDate"/>
	</resultMap>
	
	<resultMap id="likeResultSet" type="Like">
		<result column="MEM_NO" property="memNo"/>
		<result column="CINFO_NO" property="cinfoNo"/>
		<result column="LIKE_STATUS" property="likeStatus"/>
	</resultMap>
	
	<select id="emailCheck" resultType="_int"> 
	select
		   count(*)
	  from
	       member
     where email = #{email}
	</select>
	
	<select id="findIdByEmailCheck" resultType="_int">
	select
		   count(*)
	  from
	       member
     where mem_name = #{memName}
       and email = #{email}
	</select>
	
	<select id="findIdByEmail" resultMap="memberResultSet">
	select
	       concat(substr(mem_id, 1, 4), lpad('*', length(mem_id) - 4, '*')) "mem_id",
           to_CHAR(enroll_date,'YYYY-MM-DD') "enroll_date",
		   mem_img_change

	  from
	       member
     where mem_name = #{memName}
       and email = #{email}
	</select>
	
	<select id="findPwdCheck"  resultType="_int">
	select
		   count(*)
	  from
	       member
     where mem_id = #{memId}
       and mem_name = #{memName}
       and email = #{email}
	</select>
	
	<update id="updatePwd">
	update
		   member
	   set 
	       mem_pwd = #{memPwd}
	 where mem_id = #{memId}
       and mem_name = #{memName}
       and email = #{email}
	
	</update>
	
	<select id="idCheck" resultType="_int"> 
	select
		   count(*)
	  from
	       member
     where mem_id = #{checkId}
	</select>
	
	<select id="nicknameCheck" resultType="_int"> 
	select
		   count(*)
	  from
	       member
     where nickname = #{nickName}
	</select>
	
	<insert id="insertMember" >
		insert
		  into member
		     (
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , ENROLL_DATE
		     , STATUS
		     , MEM_IMG_ORIGIN
		     , MEM_IMG_CHANGE
		     , PHONE
		     , MEM_API_TYPE
		     , MEM_API_TOKEN
		     , MARKETING
		     )
	    values
	         (
	           'MEM' || TO_CHAR(SEQ_MEM_NO.NEXTVAL)
	         , #{memId}
	         , #{memPwd}
	         , #{memName}
	         , #{nickName}
	         , #{email}
	         , DEFAULT
	         , DEFAULT
	         , #{memImgOrigin}
	         , #{memImgChange}
	         , #{phone}
	         , #{memApiType}
	         , #{memApiToken}
	         , #{marketing}
	         )
	</insert>


	<select  id="selectMemberList" resultMap="memberResultSet">
	SELECT
	         MEM_NO
	        ,MEM_ID
	        ,MEM_PWD
	        ,MEM_NAME
	        ,NICKNAME
	        ,EMAIL
	        ,ENROLL_DATE
	        ,STATUS
	        , MEM_IMG_ORIGIN
	        , MEM_IMG_CHANGE
	        ,PHONE
	        ,MEM_API_TYPE
	        ,MEM_API_TOKEN
	        ,MARKETING
	 FROM MEMBER
	WHERE MEM_ID != 'ADMIN'
	</select>
	
	<select id="loginMember" resultMap="memberResultSet">
	    SELECT
	          MEM_NO
	        , MEM_ID
	        , MEM_PWD
	        , MEM_NAME
	        , NICKNAME
	        , EMAIL
	        , ENROLL_DATE
	        , STATUS
	        , MEM_IMG_ORIGIN
	        , MEM_IMG_CHANGE
	        , PHONE
	        , MEM_API_TYPE
	        , MEM_API_TOKEN
	        , MARKETING
		 FROM MEMBER
		WHERE MEM_ID = #{memId}
		  AND STATUS = 'Y'
	</select>
	

















</mapper>
