
a, a:visited {
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

nav{
	display: block;
}


/*----------------------------
	The Navigation Menu
-----------------------------*/


#colorNav > ul{
	 /* Increase when adding more menu items */
	margin:0 auto;
	display:flex;
}

#colorNav > ul > li{ /* will style only the top level li */
	list-style: none;
	
	display: inline-block;
	line-height: 1;
	margin: 1px;
	position:relative;
}

#colorNav > ul > li > a{
	text-decoration:none !important;
	padding: 25px;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:200px;
	left:50%;
	margin-left:-97px;
	font-size: 11px;
    line-height: 150%;
    text-align: left;
	
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

.noti-text{
	display:block;
	height: 35px;
	white-space:nowrap;
	overflow:hidden;
}

#colorNav li ul li{
	background-color:#313131;
}

#colorNav li ul li a{
	padding:20px 7px 0px 7px;
	color:#fff;
	text-decoration:none ;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:25px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

/* This will trigger the CSS */
/* transition animation on hover */

#colorNav li:hover ul{
	max-height:200px; /* Increase when adding more dropdown items */
}







