<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="shortcut icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">


<style>
.wrap-vertical {

    padding: 20px;
    overflow: scroll;

    /* 가로 스크롤 */
    overflow: auto;
    white-space: nowrap;
}

.contentImg {
    padding: 30px;
    text-align: center;

}

.bigImgs {
    margin-bottom: 10px;
}

.bigImg {
    width: 310px;
    height: 310px;
}

.smallImgs {
    overflow: auto;
    white-space: nowrap;
}

.smallImg {
    width: 100px;
    height: 100px;

}
</style>
<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="main-wrapper">


<div class="header header-one">
    <div class="header-left header-left-one">
        <a href="index.html" class="logo">
            <img src="assets/img/Logo.png" alt="Logo">
        </a>
        <a href="index.html" class="white-logo">
            <img src="assets/img/Logo.png" alt="Logo">
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="assets/img/Logo.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-bars"></i>
    </a>
    <div class="top-nav-search">
        <form>
            <input type="text" class="form-control" placeholder="Search here">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>
    <ul class="nav nav-tabs user-menu">


        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <i data-feather="bell"></i> <span class="badge rounded-pill">5</span>
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notifications</span>
                    <a href="javascript:void(0)" class="clear-noti"> Clear All</a>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        <li class="notification-message">
                            <a href="activities.html">
                                <div class="media d-flex">
                                    <span class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" alt=""
                                            src="assets/img/profiles/usermain.jpg">
                                    </span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Brian Johnson</span>
                                            paid the invoice <span class="noti-title">#DF65485</span></p>
                                        <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-message">
                            <a href="activities.html">
                                <div class="media d-flex">
                                    <span class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" alt=""
                                            src="assets/img/profiles/avatar-03.jpg">
                                    </span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Marie Canales</span>
                                            has accepted your estimate <span
                                                class="noti-title">#GTR458789</span></p>
                                        <p class="noti-time"><span class="notification-time">6 mins ago</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-message">
                            <a href="activities.html">
                                <div class="media d-flex">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title rounded-circle bg-primary-light"><i
                                                class="far fa-user"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">New user
                                                registered</span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-message">
                            <a href="activities.html">
                                <div class="media d-flex">
                                    <span class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" alt=""
                                            src="assets/img/profiles/avatar-04.jpg">
                                    </span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Barbara Moore</span>
                                            declined the invoice <span class="noti-title">#RDW026896</span></p>
                                        <p class="noti-time"><span class="notification-time">12 mins ago</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-message">
                            <a href="activities.html">
                                <div class="media d-flex">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title rounded-circle bg-info-light"><i
                                                class="far fa-comment"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">You have received a new
                                                message</span></p>
                                        <p class="noti-time"><span class="notification-time">2 days ago</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="activities.html">View all Notifications</a>
                </div>
            </div>
        </li>


        <li class="nav-item dropdown has-arrow main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img">
                    <img src="assets/img/userImg.png" alt="">
                    <span class="status online"></span>
                </span>
                <span>Admin</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="login.html"><i data-feather="log-out" class="me-1"></i>
                    Logout</a>
            </div>
        </li>
    </ul>
</div>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>메뉴</span></li>
                <li class="active">
                    <a href="index.html"><i data-feather="home"></i> <span>대시보드</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i data-feather="users"></i> <span>회원관리</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="member.html">회원관리</a></li>
                        <li><a href="memReport.html">신고 및 정지관리</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i data-feather="clipboard"></i> <span>게시글관리</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="carList.html">차박게시글</a></li>
                        <li><a href="verity.html">차박게시글 검수</a></li>
                        <li><a href="#">커뮤니티게시글</a></li>
                        <li><a href="#">채팅관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="noticeManagement.html"><i data-feather="star"></i> <span>공지사항관리</span></a>
                </li>
                <li>
                    <a href="officerCrown.html"><i data-feather="credit-card"></i> <span>Q&A관리</span></a>
                </li>


            </ul>
        </div>
    </div>
</div>

<div class="page-wrapper">

    <div class="content container-fluid">
        <div class="page-header">
            <div class="col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">문의 상세 내역</h5>
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="" name="imgSrc">
                            <input type="hidden" value="" name="cinfoNo">

                            <br>
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label">문의 제목</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="문의 제목" value="로그인이안돼요" name=""
                                        readonly>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label">카테고리</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="카테고리" value="로그인 관련" name=""
                                    readonly>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label">작성자(ID)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="문의 제목" value="최민수(CHOI)" name=""
                                    readonly>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="pwd" class="col-sm-3 col-form-label input-label">문의 내용</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control col-sm-9" rows="3" id="textarea-copy"
                                        style="height: 189px;" name="cinfoContent"
                                        placeholder="문의 내용"readonly>말그대로 로그인이안되요 자꾸 엑세스권한뭐시기만 뜨고..짜증나요 ㅋㅋㅜㅜ 언제쯤 이게돌아올까요 보니까 좀된듯싶은데 ㅈㅂ 이현상좀 빨리고쳐시길..110짜리 레벨 날리게생겼어요ㅡ~~~~~~~~~~~</textarea>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label">작성일</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="문의 제목" value="20.22.22" name=""
                                    readonly>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="pwd" class="col-sm-3 col-form-label input-label">답변 내용</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control col-sm-9" rows="3" id="textarea-copy"
                                        style="height: 189px;" name="cinfoContent"
                                        placeholder="문의 내용">잘해보심 됩니다.</textarea>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label">답변등록일</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="문의 제목" value="[작성시 그일 로 sysdate]" name=""
                                    readonly>
                                </div>
                            </div>

                            <div class="text-end">
                                <button type="button" onclick="history.back()"
                                    class="btn btn-primary">뒤로가기</button>
                                <button type="submit" class="btn btn-primary">답변 등록</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-cfasync="false"
    src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/feather.min.js"></script>
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>