<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="shortcut icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="header header-one">
            <div class="header-left header-left-one">
                <a href="index.html" class="logo">
                    <img src="assets/img/Logo.png" alt="Logo">
                </a>
                <a href="index.html" class="white-logo">
                    <img src="assets/img/Logo.png" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="assets/img/Logo.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav nav-tabs user-menu">
                
    
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i data-feather="bell"></i> <span class="badge rounded-pill">5</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All</a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt=""
                                                    src="assets/img/profiles/usermain.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Brian Johnson</span>
                                                    paid the invoice <span class="noti-title">#DF65485</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt=""
                                                    src="assets/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Marie Canales</span>
                                                    has accepted your estimate <span
                                                        class="noti-title">#GTR458789</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle bg-primary-light"><i
                                                        class="far fa-user"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">New user
                                                        registered</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt=""
                                                    src="assets/img/profiles/avatar-04.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Barbara Moore</span>
                                                    declined the invoice <span class="noti-title">#RDW026896</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle bg-info-light"><i
                                                        class="far fa-comment"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">You have received a new
                                                        message</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
    
    
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/userImg.png" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="login.html"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title"><span>메뉴</span></li>
                        <li class="active">
                            <a href="index.html"><i data-feather="home"></i> <span>대시보드</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="users"></i> <span>회원관리</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="member.html">회원관리</a></li>
                                <li><a href="memReport.html">신고 및 정지관리</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="clipboard"></i> <span>게시글관리</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="#">차박게시글</a></li>
                                <li><a href="#">커뮤니티게시글</a></li>
                                <li><a href="#">채팅관리</a></li>
                                <li><a href="#">차박게시글 등록 검수</a></li>
                                <li><a href="#">차박게시글 수정 검수</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="invoice-items.html"><i data-feather="star"></i> <span>공지사항관리</span></a>
                        </li>
                        <li>
                            <a href="payments.html"><i data-feather="credit-card"></i> <span>Q&A관리</span></a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>

<div class="page-wrapper">

<div class="content container-fluid">
<div class="page-header">
    <div class="col-xl-15 col-md-15">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">회원정보</h5>
            </div>
            <div class="card-body">
                <form action="#" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" value="" name="imgSrc">
                    <input type="hidden" value="" name="selNo">
                    <div class="row form-group">
                        <label for="#" class="col-sm-3 col-form-label input-label">프로필사진</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                <label class="avatar avatar-xxl profile-cover-avatar m-0" for="fileInput"
                                    onclick="myChooseFile();">
                                    <img id="myFile1" class="avatar-img"
                                        src=""
                                        name="selImg">
                                </label>
                                <span><small>이미지 변경을 원하시면 이미지를 클릭해주세요</small></span>
                            </div>
                        </div>
                    </div>
                    <input type="file" name="upfile" id="myFileInput" style="display: none;" onchange="myLoadImg(this);">
                    <div class="row form-group">
                        <label for="id" class="col-sm-3 col-form-label input-label">회원 아이디</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name"
                            placeholder="아이디 입력" value=""
                            name="memId" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="pwd" class="col-sm-3 col-form-label input-label">회원 비밀번호</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="id"
                            placeholder="비밀번호 입력" value=""
                            name="memPwd" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="name" class="col-sm-3 col-form-label input-label">이름</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="memPwd"
                            placeholder="이름 입력" value=""
                            name="userName" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="nickname" class="col-sm-3 col-form-label input-label">닉네임
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nickname"
                            placeholder="닉네임 입력"
                            value="" name="nickname">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="email" class="col-sm-3 col-form-label input-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                value="" name="email">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="phone" class="col-sm-3 col-form-label input-label">Phone
                            </label>
                        <div class="col-sm-9">
                            <input type="phone" class="form-control" id="phone"
                                placeholder="숫자만 입력"
                                value="" name="phone">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="poster" class="col-sm-3 col-form-label input-label">가입일
                            <span class="text-muted"></span></label>
                        <div class="col-sm-9">
                            <input type="phone" class="form-control" id="tel"
                                placeholder="가입일" value=""
                                name="EnrollDate">
                        </div>
                    </div>


                    <div class="text-end">
                        <button type="button" onclick="history.back()"
                        class="btn btn-primary">뒤로가기</button>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
<script>

myChooseFile = function() {
    $("#myFileInput").click();
}

function myLoadImg(inputFile) {
    console.log("inputFile");
    if (inputFile.files.length == 1) { // 파일 선택된 경우 => 파일 읽어들임

        // 파일을 읽어들일 FileReader 객체 생성
        const reader = new FileReader();

        // 파일을 읽어들이는 메소드 호출
        reader.readAsDataURL(inputFile.files[0]);
        // 해당 파일을 읽어들이는 순간 해당 이 파일만이 고유한 url부

        //파일 읽어들이기가 완료 됐을 때 실행할 함수를 정의해두기
        reader.onload = function (e) {
            // e.target.result => 읽어들인 파일의 고유한 url                                            
        console.log(e.target.result);
        $("#myFile1").removeAttr("src");
        $("#myFile1").attr("src", e.target.result); 
        }
    } else { //선택된 파일이 취소된 경우 => 미리보기 본것도 사라지게
        $("#myFile1").removeAttr("src");
        $("#myFile1").attr("src", "resources/img/seller_img/userImg.png");
    }
} //loadImg end

</script>
</form>

</div>
</div>
</div>
</div>
</div>
</div>

<script data-cfasync="false" src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/feather.min.js"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>

<script src="assets/js/script.js"></script>
</body>

</html>